.case-studies
  &.container
    margin-bottom: 40px

.case-studies-titles
  display: flex
  margin-bottom: 40px

.case-studies-quantity
  font-weight: 600
  font-size: 12px
  line-height: 15px
  margin-right: 100px

.case-studies-title
  font-weight: 600
  font-size: 38px
  line-height: 47px
  margin: 0

.case-studies-swiper
  margin-left: 128px
  .swiper-button-next,
  .swiper-button-prev
    color: #82858C

  .swiper-pagination-bullet
    color: red !important


.case-studies-project-slide-container
  display: flex
  flex-direction: column

.case-studies-project-slide-image
  width: 346px
  margin-bottom: 20px
