@import '../../styles/variables'

.case-studies
  display: flex

  &.container
    margin-bottom: 80px

    @media screen and (min-width: 768px)
      margin-bottom: 160px


.case-studies-subtitles
  display: flex
  flex-direction: column
  width: min-content
  margin-right: 39px

  @media screen and (min-width: 576px)
    margin-right: 95px

  @media screen and (min-width: 1440px)
    margin-right: 126px


.case-studies-quantity
  font-weight: 600
  font-size: 12px
  line-height: 15px
  margin-top: 6px
  margin-bottom: 214px

  @media screen and (min-width: 576px)
    margin-bottom: 142px

  @media screen and (min-width: 768px)
    margin-bottom: 173px


.case-studies-title
  font-weight: 600
  font-size: 24px
  line-height: 30px
  margin: 0 0 32px

  @media screen and (min-width: 576px)
    font-size: 32px
    line-height: 40px

  @media screen and (min-width: 768px)
    font-size: 38px
    line-height: 47px



//Slider.js
.slider
  height: 400px

  .swiper-button-next,
  .swiper-button-prev
    color: $gray

  @media screen and (min-width: 576px)
    width: 761px
    height: unset

  @media screen and (min-width: 768px)
    width: 1000px

  @media screen and (min-width: 1024px)
    width: 1500px

  @media screen and (min-width: 1440px)
    width: 1506px

//SwiperSlideContent.js
.slider-slide-container
  display: flex
  flex-direction: column

.slider-slide-image
  width: 264px
  margin-bottom: 8px

  @media screen and (min-width: 576px)
    width: 368px

  @media screen and (min-width: 768px)
    width: 468px


.slider-slide-subtitle
  font-weight: 600
  font-size: 10px
  line-height: 12px
  color: $gray
  margin-bottom: 2px

.slider-slide-title
  font-weight: 600


.modal
  box-sizing: border-box
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  max-width: 90vw
  max-height: 90vh
  background-color: $white
  overflow-y: auto

.modal-close-button
  background-color: transparent
  border: none
  position: absolute
  cursor: pointer
  right: 0

  svg
    width: 80px
    height: 80px

