@import '../../styles/variables'

.case-studies
  display: flex

  &.container
    margin-bottom: 80px

    @media screen and (min-width: 768px)
      margin-bottom: 160px


.case-studies-subtitles
  display: flex
  flex-direction: column
  width: min-content
  margin-right: 39px

  @media screen and (min-width: 576px)
    margin-right: 95px

  @media screen and (min-width: 1440px)
    margin-right: 126px


.case-studies-quantity
  font-weight: 600
  font-size: 12px
  line-height: 15px
  margin-top: 6px
  margin-bottom: 214px

  @media screen and (min-width: 576px)
    margin-bottom: 142px

  @media screen and (min-width: 768px)
    margin-bottom: 173px


.case-studies-title
  font-weight: 600
  font-size: 24px
  line-height: 30px
  margin: 0 0 32px

  @media screen and (min-width: 576px)
    font-size: 32px
    line-height: 40px

  @media screen and (min-width: 768px)
    font-size: 38px
    line-height: 47px



//Slider.js
.slider
  height: 400px

  .swiper-button-next,
  .swiper-button-prev
    color: $gray

  @media screen and (min-width: 576px)
    width: 761px
    height: unset

  @media screen and (min-width: 768px)
    width: 1000px

  @media screen and (min-width: 1024px)
    width: 1500px

  @media screen and (min-width: 1440px)
    width: 1506px


//SwiperSlideContent.js
.slider-slide-content
  display: flex
  flex-direction: column

.slider-slide-image-container
  position: relative
  cursor: pointer


  .slider-slide-overlay
    display: flex
    align-items: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    color: white
    opacity: 0
    z-index: 2
    transition: opacity $transition

    span
      margin-left: 11px
      font-weight: 600


  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: linear-gradient(0deg, rgba(25, 28, 33, 0.7), rgba(25, 28, 33, 0.7))
    z-index: 1
    opacity: 0
    transition: opacity $transition

  &:hover::before
    opacity: 1

  &:hover
    .slider-slide-overlay
      opacity: 1


.slider-slide-image
  display: block
  height: auto
  width: 264px
  margin-bottom: 8px

  @media screen and (min-width: 576px)
    width: 368px

  @media screen and (min-width: 768px)
    width: 468px


.slider-slide-subtitle
  font-weight: 600
  font-size: 10px
  line-height: 12px
  color: $gray
  margin-bottom: 2px

.slider-slide-title
  font-weight: 600


.modal
  box-sizing: border-box
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  max-width: 90vw
  max-height: 90vh
  background-color: $white
  overflow-y: auto

.modal-close-button
  background-color: transparent
  border: none
  position: absolute
  cursor: pointer
  right: 0

  svg
    width: 80px
    height: 80px
    stroke: $white
    transition: stroke $transition

  &:hover
    svg
      stroke: $green
