.team
  &.container
    margin-bottom: 40px

.team-titles
  margin-bottom: 40px
  display: flex

.team-title
  font-weight: 600
  font-size: 38px
  line-height: 47px
  margin: 0

.team-exclamation
  font-size: 36px
  margin-right: 120px
  line-height: 1

.team-container
  display: flex
  justify-content: space-between
  margin-left: 128px


//TeamMemberCard.js
.team-member-card
  width: fit-content
  overflow: hidden
  border-radius: 10px

  .team-member-card-photo-container
    position: relative

  .team-member-card-photo
    display: block
    width: 240px
    height: 324px
    transition: transform 0.3s ease-in-out

  .team-member-card-name
    position: absolute
    bottom: 28px
    left: 8px
    font-size: 22px
    font-weight: bold
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

  .team-member-card-position
    position: absolute
    font-size: 12px
    bottom: 8px
    left: 8px
