@import '../../styles/variables'

.capabilities
  margin-bottom: 40px

.capabilities-asterisk
  font-size: 52px

.capabilities-titles
  margin-bottom: 40px
  display: flex

.capabilities-asterisk
  margin-right: 100px
  line-height: 1

.capabilities-title
  font-weight: 600
  font-size: 38px
  line-height: 47px
  margin: 0
