@import '../../styles/variables'

.capabilities
  &.container
    margin-bottom: 40px


.capabilities-titles
  margin-bottom: 40px
  display: flex

.capabilities-asterisk
  font-size: 52px
  margin-right: 105px
  line-height: 1

.capabilities-title
  font-weight: 600
  font-size: 38px
  line-height: 47px
  margin: 0
