@import '../../styles/variables'

.header
  display: flex
  align-items: center
  justify-content: space-between

  &.container
    //margin-bottom: 48px
    //
    //@media screen and (min-width: 576px)
    //  margin-bottom: 72px
    //
    //@media screen and (min-width: 768px)
    //  margin-bottom: 78px

  .header-logo
    @media screen and (min-width: 768px)
      margin-right: 32px

    @media screen and (min-width: 1440px)
      margin-right: 60px

.header-nav
  font-weight: 600
  font-size: 14px
  line-height: 17px

.header-nav-item
  display: inline-block
  color: $white
  margin-right: 16px

  &:hover
    text-decoration: underline


.header-links
  margin-left: auto

  @media screen and (max-width: 767px)
    margin-right: 16px

  .header-links-icon
    vertical-align: bottom

.header-links-item:not(:last-child)
  margin-right: 8px
